
.palm-scrim {
  opacity: 0;
  -webkit-background-size: 0% 0%;
}

.palm-divider {
  margin-top: 20px;
  margin-bottom: 20px;
}

body.palm-default {
  margin: 0px;
  padding: 0px;
  background-color: black;
  color: white;
  font-size: 15px;
}

#header-bar {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 105px;
  width: 100%;
  background-color: black;
  margin: 0px;
  padding: 0px;
}

.about-scene {
  font-size: large;
  color: white !important;
}

#about-header-bar {
  font-size: 30px;
  text-align: center;
  position: absolute;
  left: 0px;
  top: 0px;
  height: 105px;
  width: 100%;
  background-color: black;
  margin: 0px;
  padding: 0px;
}

#content-area {
  position: absolute;
  left: 0px;
  top: 50px;
  width: 100%;
  background-color: black;
  /*border: 1px solid white;*/
  margin: 0px;
  padding: 0px;
}

.thing {
  font-size: 16px;
  background-color: black;
  color: white;
  padding: 0px 3px 0px 3px;
  margin: 0px;
  overflow: auto;
  border-bottom: 1px solid #222222;
  height: 48px;
  -webkit-transition-property: height;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: 'ease-out';
}

.note {
  font-size: 16px;
  background-color: black;
  color: white;
  padding: 0px 0px 0px 3px;
  margin: 0px;
  overflow: auto;
  border-bottom: 1px solid #222222;
  /*height: 48px;*/
  -webkit-transition-property: height;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: 'ease-out';
}

.note-content {
  height: 36px;
  width: 100%;
  padding: 8px 0px 0px 14px;
  /*border: 1px solid blue;*/
  margin: 6px;
}

s {
  color: gray !important;
}

.draggable-thingy {
  height: 60px;
  width: 60px;
  color: red;
  background-color: red;
  z-index: 99999;
  left: 30px;
  top: 50px;
}

.draggy {
  height: 60px;
  width: 60px;
  color: red;
  background-color: red;
  z-index: 99999;
}

.priority {
  border-left: 3px solid yellow !important;
  padding: 0px 0px 0px 0px !important;
}

.selected {
  height: 96px;
  /*border: 1px solid white;*/
}

.event-holder {
  height: 36px;
  width: 90%;
  padding: 8px 0px 0px 10px;
  /*border: 1px solid blue;*/
  margin: 6px;
}

#bodyTextFieldId {
  margin: 15px 5px 65px 5px !important;
  padding: 0px !important;
  -webkit-box-sizing: border-box !important;
  overflow: hidden !important; 
  max-height:240px !important;
}

#bodyTextFieldId input, #bodyTextFieldId textarea {
  color: gray !important;
  border: 2px solid white !important;
  margin: 0px !important;
  padding: 5px !important;
  min-height: 15px !important;
  right: 0px !important;
  font-size: medium !important;
  width: 100% !important;
  -webkit-box-sizing: border-box !important;
  left: 0px !important;
}

.floating {
  margin-top: 50px;
  z-index: 999999;
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  background-color: black;
  color: white;
  border: 2px solid gray;
  -webkit-border-radius: 15px;
}

.floater-button-holder {
  overflow: hidden;
  position: absolute;
  height: 60px;
  width: 100%;
  padding: 0px;
  margin: 0px;
  bottom: 0px;
  border-top: 1px solid gray;
}

.floater-button {
  -webkit-box-sizing: border-box;
  text-align: center;
  font-size: 25px;
  width: 50%;
  padding: 10px 0px 0px 0px;
  margin: 0px;
  height: 100%;
  float: left;
  /*border-right: 2px solid white;*/
}

.floater-button-holder .floater-button:first-child {
  border-right: 1px solid gray;
}

.textFieldClass {
  margin: 10px 55px 10px 20px;
  padding: 0px;
  -webkit-border-radius: 30px;
  background-color: black;
  color: gray;
  /*overflow: hidden;*/
  /*border: 1px solid yellow;*/
}

.textFieldClass input {
  display: inline !important;
  /*display: none;*/
  margin: 0px;
  padding: 5px 15px 5px 15px;
  -webkit-border-radius: 30px;
  background-color: black;
  color: gray;
  border: 2px solid gray;
}

.textFieldClass .hint-text {
  margin-left: 18px;
  margin-top: 10px;
  color: gray;
}

.event-options {
  /*opacity: 0;*/
  height: 36px;
  /*width: 100%;*/
  /*border: 1px solid red;*/
  padding: 0px;
  margin: 0px;
  left: 10px;
  right: 10px;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: 'ease-out';
}

.thing .selected .event-options {
  opacity: 1 !important;
}

.event-option {
  float: left;
  font-size: small;
  text-align: center;
  width: 20%;
  height: 36px;
  /*border: 1px solid yellow;*/
  padding: 0px;
  margin: 0px;
  padding-top: 9px;
}

.description {
  font-size: small;
  color: gray;
  margin-top: 6px;
  float: left;
  clear: both;
}

.section-heading {
  font-size: 30px !important;
  color: gray !important;
}
