
#horizontally-scrolled-container {
  width: 964px; 
  height: 380px;
  margin: 0px;
  padding: 0px;
}

.scrollerItem {
  float: left;
  width: 320px;
  height: 380px;
  /*border: yellow solid 1px;*/
  margin: 0px;
  padding: 0px;
}

.palm-scrim {
  opacity: 0;
  -webkit-background-size: 0% 0%;
}

.palm-divider {
  margin-top: 20px;
  margin-bottom: 20px;
}

body.palm-default {
  margin: 0px;
  padding: 0px;
  background-color: black;
  color: white;
  font-size: 15px;
}

#header-bar {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 105px;
  width: 100%;
  background-color: black;
  margin: 0px;
  padding: 0px;
}

#footer-bar {
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 45px;
  width: 100%;
  background-color: blue;
  text-align: center;
  color: gray;
  margin: 0px;
  padding: 0px;
  padding-top: 15px;
  font-size: 15px;
}

#content-area {
  position: absolute;
  left: 0px;
  top: 50px;
  width: 100%;
  background-color: black;
  /*border: 1px solid white;*/
  margin: 0px;
  padding: 0px;
}

.thing {
  font-size: 16px;
  background-color: black;
  color: white;
  padding: 0px 0px 0px 3px;
  margin: 0px;
  overflow: auto;
  border-bottom: 1px solid #222222;
  height: 48px;
  -webkit-transition-property: height;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: 'ease-out';
}

.priority {
  border-left: 3px solid yellow !important;
  padding: 0px 0px 0px 0px !important;
}

.selected {
  height: 96px;
  /*border: 1px solid white;*/
}

.event-holder {
  height: 36px;
  width: 100%;
  padding: 8px 0px 0px 14px;
  /*border: 1px solid blue;*/
  margin: 6px;
}

.textFieldClass {
  margin: 10px 55px 10px 20px;
  padding: 0px;
  -webkit-border-radius: 30px;
  background-color: black;
  color: gray;
  /*overflow: hidden;*/
  /*border: 1px solid yellow;*/
}

.textFieldClass input {
  margin: 0px;
  padding: 5px 15px 5px 15px;
  -webkit-border-radius: 30px;
  background-color: black;
  color: gray;
  border: 2px solid gray;
}

.textFieldClass .hint-text {
  margin-left: 17px;
  margin-top: 10px;
  color: gray;
}

.event-options {
  opacity: 0;
  height: 36px;
  width: 100%;
  /*border: 1px solid red;*/
  padding: 0px;
  margin: 6px;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: 'ease-out';
}

.thing .selected .event-options {
  opacity: 1 !important;
}

.event-option {
  float: left;
  font-size: small;
  text-align: center;
  width: 20%;
  height: 36px;
  /*border: 1px solid yellow;*/
  padding: 0px;
  margin: 0px;
  padding-top: 9px;
}

.description {
  font-size: small;
  color: gray;
  margin-top: 6px;
  float: left;
  clear: both;
}

.section-heading {
  font-size: 30px !important;
  color: gray !important;
}
