<div id="header-bar">
  <div x-mojo-element="TextField" id="textFieldId" class="textFieldClass" name="textFieldName"></div>
</div>

<div id="draggable-thingy"></div>

<div id="content-area">
  <div id="list-scroller" x-mojo-element="Scroller">
    <div id="list" x-mojo-element="List"></div>
  </div>
</div>

<div id="edit-floater" class="floating">
  <div id="bodyTextFieldId" x-mojo-element="TextField" align="left"></div>
  <div class="floater-button-holder">
    <div id="edit-cancel" class="floater-button">Cancel</div>
    <div id="edit-ok" class="floater-button ok">OK</div>
  </div>
</div>

<div id="clear-events-floater" class="floating">
  <div style="margin: 15px 5px 65px 5px !important;">
    <h1 style="margin-left: 10px;">Clear</h1>
    <p>Clean up your finished tasks?</p>
  </div>
  
  <div class="floater-button-holder">
    <div id="clear-events-cancel" class="floater-button">No</div>
    <div id="clear-events-confirm" class="floater-button ok">Yes</div>
  </div>
</div>