<div id="header-bar">
  <div x-mojo-element="TextField" id="textFieldId" class="textFieldClass" name="textFieldName"></div>
</div>

<div id="draggable-thingy"></div>

<div id="content-area">
  <div id="list-scroller" x-mojo-element="Scroller">
    <div id="list" x-mojo-element="List"></div>
  </div>
</div>

<div id="edit-floater" class="floating">
  <div id="bodyTextFieldId" x-mojo-element="TextField" align="left"></div>
  <div class="floater-button-holder">
    <div id="edit-cancel" class="floater-button">Cancel</div>
    <div id="edit-ok" class="floater-button ok">Ok</div>
  </div>
</div>
